# NPM
package-lock.json

# ENV
.env

# Compiled output
server-api/

# Dependencies
node_modules

# Docker
docker-compose.yml

# IDEs and editors
.idea
.project
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
